<h1 class="title">Tour of Heroes</h1>

<nav>
    <ul class="nav_ul">
        <li>
            <a class="btn btn-secondary btn-sm" href="/">Dashboard</a>
        </li>
        <li>
            <a class="btn btn-secondary btn-sm" href="/heroes">Heroes</a>
        </li>
    </ul>
</nav>

<% if flash[:error] %>
<div class="alert alert-danger">
    <%= flash[:error] %>
</div>
<% end %>


<div>
    <h3><%= @hero.name.upcase %> Details </h3>
    <span> Id:
        <%= @hero.id_hero %>
    </span>
    <%= form_with(url: update_hero_path(@hero.id_hero), method: :patch, local: true) do |f| %>
        <%= f.label "Name:" %>
        <%= f.text_field :name, placeholder: @hero.name%>
        <%= f.submit "Update" %>
    <% end %>
    <span> Other:
        <%= @hero.other %>
    </span>
    
    
</div>

